[global]
xcatgroup=next
othergroups=vm,all
basename=next
maxnodes=30
mem=2g
cores=2
baseimage=ubuntu12.04.3berk2
disksize=20g
repobase=https://github.com/kbase/
deploydir=/kb/deployment
devcontainer=/kb/dev_container
runtime=/kbase/runtimes/20140109-prod
setup=setup_service

[mongo]
host=next01
mem=20g
cores=2
setup=setup_mongo
disk=1024g
user=mongoadmin
pwd=mongo4me
proxytype=skip

[mysql]
host=next02
mem=10g
cores=2
setup=setup_mysql
proxytype=skip

[www]
host=next03
setup=setup_www
proxytype=skip

[authorization]
host=next06
port=7039
repo=auth_service
giturl=ssh://kbase@git.kbase.us/auth_service
basedir=authorization_server
proxytype=fastcgi

[shock]
port=7044
repo=shock_service

[awe]
port=7107
repo=awe_service


#[experiment]
#workspace_url=http://kbase.us/services/workspace
#cdmi_url=http://kbase.us/services/cdmi_api
#test_user=
#test_pwd=
#gevent_monkeypatch_all=1
#compounds_refresh_interval_sec=86400
#erdb_url=http://kbase.us/services/erdb_service
#port=7068

[cdmi_api]
mem=24G
repo=kb_seed
dbhost=next-mysql
userData=kbase_sapselect/mypass
dbName=kbase_sapling_v3
port=7032
urlname=kb_seed

[UserAndJobState]
mongodb-database=userjobstate
mongodb-pwd=mypass
mongodb-host=db3.chicago.kbase.us
mongodb-user=ujsserv
port=7083

[Workspace]
mem=20G
repo=workspace_deluxe
mongodb-database=workspace
mongodb-pwd=mypass
ws-admin=workspaceadmin
backend-secret=mysecret
mongodb-host=db3.chicago.kbase.us
mongodb-user=wsserv
port=7058

[translation]
dbhost=devdb1.newyork.kbase.us
pass=mypass
blast_db_dir=/kb/deployment/services/translation/
port=3306
dbname=genomics_dev
dbms=mysql
user=genomicsselect
erdb_url=http://kbase.us/services/erdb_service
sock=

[CompressionBasedDistance]
shock_url=http://kbase.us/services/shock-api/
userandjobstate_url=https://kbase.us/services/userandjobstate/
work_folder_path=/kbase/deployments/20140109-prod/services/CompressionBasedDistance/data
num_pool_processes=5
port=7102
repo=cbd
urlname=cbd

[protein_info_service]
dbhost=devdb1.newyork.kbase.us
pass=mypass
dbms=mysql
user=genomicsselect
port=3306
dbname=genomics_dev
sock=

[fbaModelServices]
size=12G
probanno-url=http://kbase.us/services/probabilistic_annotation/
mssserver-url=http://bio-data-1.mcs.anl.gov/services/ms_fba
mfatoolkitbin=/kbase/deployments/20140109-prod/bin/mfatoolkit
fbajobdir=/tmp/fbajobs
accounttype=kbase
idserver-url=http://kbase.us/services/idserver
jobserver-url=http://kbase.us/services/workspace
workspace-url=http://kbase.us/services/ws
fbajobcache=/tmp/fbacache/
defaultJobState=queued
gaserver-url=http://kbase.us/services/genome_annotation
port=7036
repo=KBaseFBAModeling
urlname=KBaseFBAModeling

#[feature_selection]
#port=7071

#[file_type_service]
#port=7060

#[trees]
#communities=http://api.metagenomics.anl.gov/api2.cgi/sequences/
#erdb=http://kbase.us/services/erdb_service/
#scratch=/mnt/
#port=7047

[m5nr]
api_host=http://localhost:7103/api.cgi
M5NR_VERSION=9
SOLR_HOST=http://localhost
SOLR_PORT=8983
URL_BASE=http://localhost:7103/api.cgi
SOLR_STORE=/kbase/deployments/20140109-prod/services/m5nr/m5nr_9
port=7103

#[communities_api]
#api_host=http://kbase.us/services/communities/1

[communities_qc]
port=7052

#[KmerAnnotationByFigfam]
#kmer-data=/kbase/deployments/20140109-prod/services/kmer_annotation_by_figfam/data

[id_map]
mlog_log_level=6
service-port=7111
mysql-user=kbase_sapselect
service-host=localhost
mlog_log_file=service.log
data-source=dbi:mysql:kbase_sapling_v3:db3.chicago.kbase.us
mysql-pass=mypass
port=7111

#[KBaseExpression]
#DBD=/kb/dev_container/modules/expression/XMLforDatabase.xml
#dbhost=db3.chicago.kbase.us
#dbPwd=oiwn22&dmwWEe
#dbms=mysql
#userData=kbase_sapselect/oiwn22&dmwWEe
#dbName=kbase_sapling_v3
#dbUser=kbase_sapselect

[probabilistic_annotation]
pseudo_count=40
cdmi_url=http://kbase.us/services/cdmi_api/
userandjobstate_url=https://kbase.us/services/userandjobstate/
fbamodelservices_url=http://kbase.us/services/fba_model_services/
work_folder_path=/kbase/data/probabilistic_annotation/jobs
blast_threads=1
workspace_url=https://kbase.us/services/ws/
separator=///
data_folder_path=/kbase/data/probabilistic_annotation/data
debug=False
shock_url=http://kbase.us/services/shock-api/
job_queue=local
dilution_percent=80
load_data_option=shock
port=7073

[genome_annotation]
kmer_v2_data_directory=/kbase/deployments/20140109-prod/services/genome_annotation/data/Data.6
kmer_classifier_data_directory=/kbase/deployments/20140109-prod/services/genome_annotation/data/kmer
port=7050

[genotype_phenotype_api]
port=7067
basedir=Genotype_PhenotypeAPI

#[communities_pipeline]
#mem_host=10.0.4.96:11211
#shockurl=t40:7044
#aweurl=localhost:7080

[idserver]
mem=42G
mongodb-connection-timeout=60
mongodb-host=mongodb://idserv:mypass@db3.chicago.kbase.us/idserver_db
port=7031

[workspaceService]
mongodb-connection-timeout=60
mongodb-database=workspace_service
mssserver-url=http://bio-data-1.mcs.anl.gov/services/ms_fba
idserver-url=http://kbase.us/services/idserver
mongodb-host=mongodb://wsserv:mypass@db3.chicago.kbase.us/workspace_service
port=7058
repo=workspace_service
urlname=workspace

#[InvocationService]
#mem=42G
#service-url=http://kbase.us/services/invocation
#authenticated-storage-dir=/kbase/deployments/20140109-prod/services/invocation/storage-auth
#nonauthenticated-storage-dir=/kbase/deployments/20140109-prod/services/invocation/storage-nonauth
#nonauthenticated-storage=/kbase/deployments/20140109-prod/services/invocation/storage-nonauth
#authenticated-storage=/kbase/deployments/20140109-prod/services/invocation/storage-auth

[handle_service]
mysql-host=db3.chicago.kbase.us
service-port=7109
mysql-user=hsiadmin
mlog_log_file=service.log
service-host=localhost
data-source=dbi:mysql:hsi
mlog_log_level=6
mysql-pass=mypass
default-shock-server=http://kbase.us/services/shock-api
port=7109

[meme]
port=7108

[networks]
port=7064
basedir=KBaseNetworksService

[ontology_service]
port=7062

[plant_expression_service]
port=7063
basedir=PlantExpressionService

#[prom_service]
#port=7069
#
#[regprecise]
#port=7059
#basedir=Regulation

#[sim_service]
#port=7055

[invocation]
mem=42G
service-url=http://kbase.us/services/invocation
authenticated-storage-dir=/data/storage-auth
nonauthenticated-storage-dir=/data/storage-nonauth
nonauthenticated-storage=/data/storage-nonauth
authenticated-storage=/data/storage-auth
port=7049

[jars]
type=lib
giturl=ssh://kbase@git.kbase.us/jars

[auth]
type=lib
giturl=ssh://kbase@git.kbase.us/auth
