[global]
xcatgroup=test
basename=test
maxnodes=40
disksize=20g
repobase=https://github.com/kbase/
deploydir=/kb/deployment
devcontainer=/kb/dev_container
runtime=/kbase/runtimes/20140109-prod
setup=setup_service
dtdir=/root/dt
hashfile=githashes
make-options=DEPLOY_RUNTIME=$KB_RUNTIME ANT_HOME=$KB_RUNTIME/ant

[defaults]
mem=2g
cores=2
type=service
baseimage=ubuntu12.04.3berk3
xcatgroups=test,vm,all

[mongo]
giturl=none
host=test01
mem=20g
cores=2
setup=setup_mongo
disk=1024g
user=mongoadmin
pwd=xxxxxxxx
proxytype=skip

[mysql]
giturl=none
host=test02
mem=10g
cores=2
setup=setup_mysql
proxytype=skip

[www]
giturl=none
host=test03
setup=setup_www
proxytype=skip

[authorization]
host=test06
port=7039
repo=auth_service
giturl=ssh://kbase@git.kbase.us/auth_service
basedir=authorization_server
proxytype=fastcgi
mongodb-host=mongodb://user:xxxxxxxx@test-mongo/authorization

[shock]
port=7044
repo=shock_service
host=test10
giturl=https://github.com/kbase/shock_service
basedir=shock_service
setup=setup_shock
mongodb-database=shock
mongodb-pwd=xxxxxxxx
mongodb-host=test-mongo
mongodb-user=shock

[awe]
port=7107
repo=awe_service
host=test19
giturl=https://github.com/kbase/awe_service
basedir=awe_service
setup=setup_awe
mongodb-host=test-mongo
mongodb-database=AWEDB
mongodb-user=aweserv
mongodb-pwd=xxxxxxxx
site-url=http://kbase.us/services/docs/awe
api-url=https://kbase.us/services/awe

[aweworker]
type=worker
giturl=https://github.com/kbase/awe_service
setup=setup_aweworker
host=test30
group=test
token=<kbasetoken>
serverurl=https://kbase.us/services/awe

[cdmi_api]
mem=24G
giturl=https://github.com/kbase/kb_seed
dbhost=test-mysql
userData=kbase_sapselect/xxxxxxxx
dbName=kbase_sapling_v3
port=7032
host=test07

[UserAndJobState]
giturl=ssh://kbase@git.kbase.us/user_and_job_state
mongodb-database=userjobstate
mongodb-pwd=xxxxxxxx
mongodb-host=test-mongo
mongodb-user=ujsserv
port=7083
host=test08
mem=4G
basedir=userandjobstate

[Workspace]
mem=20G
giturl=https://github.com/kbase/workspace_deluxe
urlname=ws
basedir=workspace
mongodb-database=workspace
mongodb-pwd=xxxxxxxx
ws-admin=wstest
backend-secret=<secret>
mongodb-host=test-mongo
mongodb-user=wsserv
port=7058
host=test09

[translation]
giturl=ssh://kbase@git.kbase.us/translation
dbhost=devdb1.newyork.kbase.us
pass=xxxxxxxx
blast_db_dir=/kb/deployment/services/translation/
port=3306
dbname=genomics_dev
dbms=mysql
user=genomicsselect
erdb_url=http://kbase.us/services/erdb_service
sock=
host=test13

[CompressionBasedDistance]
shock_url=http://kbase.us/services/shock/
userandjobstate_url=https://kbase.us/services/userandjobstate/
work_folder_path=/kbase/deployments/20140109-prod/services/CompressionBasedDistance/data
num_pool_processes=5
port=7102
giturl=ssh://kbase@git.kbase.us/cbd
urlname=cbd
host=test17

[protein_info_service]
giturl=ssh://kbase@git.kbase.us/protein_info_service
dbhost=devdb1.newyork.kbase.us
pass=xxxxxxxx
dbms=mysql
user=genomicsselect
port=3306
dbname=genomics_dev
sock=
host=test16

[fbaModelServices]
size=12G
probanno-url=http://kbase.us/services/probabilistic_annotation/
mssserver-url=http://bio-data-1.mcs.anl.gov/services/ms_fba
mfatoolkitbin=/kbase/deployments/20140109-prod/bin/mfatoolkit
fbajobdir=/tmp/fbajobs
accounttype=kbase
idserver-url=http://kbase.us/services/idserver
jobserver-url=http://kbase.us/services/workspace
workspace-url=http://kbase.us/services/ws
fbajobcache=/tmp/fbacache/
defaultJobState=queued
gaserver-url=http://kbase.us/services/genome_annotation
port=7036
giturl=ssh://kbase@git.kbase.us/KBaseFBAModeling
urlname=KBaseFBAModeling
host=test15

[trees]
communities=http://api.metagenomics.anl.gov/api2.cgi/sequences/
erdb=http://kbase.us/services/erdb_service/
scratch=/mnt/
port=7047
host=test33

[m5nr]
api_host=http://localhost:7103/api.cgi
M5NR_VERSION=9
SOLR_HOST=http://localhost
SOLR_PORT=8983
URL_BASE=http://localhost:7103/api.cgi
SOLR_STORE=/mnt/solr
port=7103
host=test18

[KmerAnnotationByFigfam]
giturl=https://github.com/kbase/kmer_annotation_figfam
basedir=kmer_annotation_figfam
kmer-data=/mnt
host=test34
port=7105

[id_map]
mlog_log_level=6
service-port=7111
mysql-user=kbase_sapselect
service-host=localhost
mlog_log_file=service.log
data-source=dbi:mysql:kbase_sapling_v3:test-mysql
mysql-pass=xxxxxxxx
port=7111
host=test20

[KBaseExpression]
DBD=/kb/dev_container/modules/expression/XMLforDatabase.xml
giturl=https://github.com/kbase/expression
dbhost=test-mysql
dbPwd=xxxxxxxx
dbms=mysql
userData=kbase_sapselect/xxxxxxxx
dbName=kbase_sapling_v3
dbUser=kbase_sapselect
host=test31
port=7075

[probabilistic_annotation]
pseudo_count=40
cdmi_url=http://kbase.us/services/cdmi_api/
userandjobstate_url=https://kbase.us/services/userandjobstate/
fbamodelservices_url=http://kbase.us/services/fba_model_services/
work_folder_path=/kbase/data/probabilistic_annotation/jobs
blast_threads=1
workspace_url=https://kbase.us/services/ws/
separator=///
data_folder_path=/kbase/data/probabilistic_annotation/data
debug=False
shock_url=http://kbase.us/services/shock/
job_queue=local
dilution_percent=80
load_data_option=shock
port=7073
host=test22

[genome_annotation]
kmer_v2_data_directory=/mnt/genome_annotation/data/Data.6
kmer_classifier_data_directory=/mnt/genome_annotation/data/kmer
port=7050
host=test24

[genotype_phenotype_api]
port=7067
basedir=Genotype_PhenotypeAPI
host=test14
giturl=ssh://kbase@git.kbase.us/genotype_phenotype_api

[idserver]
mem=42G
mongodb-connection-timeout=60
mongodb-host=mongodb://user:xxxxxxxx@test-mongo/idserver_db
port=7031
host=test26

[workspaceService]
mongodb-connection-timeout=60
mongodb-database=workspace_service
mssserver-url=http://bio-data-1.mcs.anl.gov/services/ms_fba
idserver-url=http://kbase.us/services/idserver
mongodb-host=mongodb://user:xxxxxxxx@test-mongo/workspace_service
port=7058
repo=workspace_service
giturl=ssh://kbase@git.kbase.us/workspace_service
urlname=workspace
host=test27

[handle_service]
mysql-host=test-mysql
service-port=7109
mysql-user=hsiadmin
mlog_log_file=service.log
service-host=localhost
data-source=dbi:mysql:hsi
mlog_log_level=6
mysql-pass=xxxxxxxx
mysql-perm=ALL
default-shock-server=http://kbase.us/services/shock/
port=7109
host=test28

[meme]
port=7108
host=test25
giturl=https://github.com/kbase/meme

[networks]
port=7064
basedir=KBaseNetworksService
host=test21
giturl=https://github.com/kbase/networks

[ontology_service]
port=7062
host=test23

[plant_expression_service]
port=7063
basedir=PlantExpressionService
giturl=ssh://kbase@git.kbase.us/plant_expression_service
host=test11

[invocation]
mem=42G
service-url=http://kbase.us/services/invocation
authenticated-storage-dir=/data/storage-auth
nonauthenticated-storage-dir=/data/storage-nonauth
nonauthenticated-storage=/data/storage-nonauth
authenticated-storage=/data/storage-auth
port=7049
host=test05

[CoExpression]
host=test32
giturl=https://github.com/kbase/coexpression
ujs_url=http://kbase.us/services/ujs/
awe_url=http://kbase.us/services/awe/
shock_url=http://kbase.us/services/shock/
ws_url=http://kbase.us/services/ws/
port=7063

[genome_comparison]
giturl=https://github.com/kbase/genome_comparison_canon
thread.count=4
temp.dir=/scratch/genome_comparison
blast.dir=/kb/deployment/services/genome_comparison/blast/linux
ws.url=https://kbase.us/services/ws/
ujs.url=https://kbase.us/services/userandjobstate/
port=7123
host=test35

[KBaseProteinStructure]
md5pdbmapfile=/kb/deployment/services/protein_structure_service/pdb/pdb.md5.tab
blastdb=/kb/deployment/services/protein_structure_service/pdb/pdb_md5_prot
giturl=ssh://kbase@git.kbase.us/protein_structure_service
port=7088
host=test36

[bootstrap]
type=lib
giturl=ssh://kbase@git.kbase.us/bootstrap

[ui-common]
type=lib

[jars]
type=lib
giturl=ssh://kbase@git.kbase.us/jars

[gwas]
type=lib
giturl=ssh://kbase@git.kbase.us/gwas

[auth]
type=lib
giturl=ssh://kbase@git.kbase.us/auth

[dev_container]
type=lib

[kbapi_common]
type=lib

[typecomp]
type=lib

[kb_model_seed]
type=lib

[strep_repeats]
type=lib
giturl=ssh://kbase@git.kbase.us/strep_repeats

[kmer_annotation_figfam]
type=lib
giturl=ssh://kbase@git.kbase.us/kmer_annotation_figfam

[kbrest_common]
type=lib

[erdb_service]
type=lib
giturl=ssh://kbase@git.kbase.us/erdb_service

[java_type_generator]
type=lib
giturl=ssh://kbase@git.kbase.us/java_type_generator

; Bogus service
[wstypes]
type=lib
giturl=none
mongodb-database=wstypes
mongodb-pwd=xxxxxxxx
mongodb-host=test-mongo
mongodb-user=wsserv

[narrative]
host=test04
setup=setup_narrative
port=7122

[uploader]
type=lib
giturl=https://github.com/kbase/uploader

[search]
giturl=ssh://kbase@git.kbase.us/search
mem=20g
cores=4
host=test29
port=7078
config_path=/kb/deployment/services/search/config
solr_url=http://localhost:7077/
solr_auth_required=False
solr_user=admin
solr_pass=xxxxxxxx
log_level=INFO
log_syslog=True
log_file=/kb/deployment/services/search/search_service.log
