
server {
	#listen   80; ## listen for ipv4; this line is default and implied
	#listen   [::]:80 default ipv6only=on; ## listen for ipv6

	root /usr/share/nginx/www;
	index index.html index.htm;

	# Make site accessible from http://localhost/
	server_name localhost proda-www kbase.us www.kbase.us;
	
	#Begin manual modification
        # added kkeller 4sep2015
        # see https://atlassian.kbase.us/browse/KBASE-2423
        # commented back out 5sep, reported 413 errors
#       client_max_body_size       10m;
        location / {
                proxy_pass http://198.128.58.54/;
#                proxy_pass http://standby-internal.kbase.us;
                #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                #proxy_set_header X-Real-IP $remote_addr;
                #proxy_set_header Host prod1-internal.kbase.us;
                #proxy_set_header X-Forwarded-Host $http_host;
                #proxy_set_header X-Forwarded-Port $server_port;
                #proxy_set_header X-Forwarded-Proto $scheme;
        }
        location /internal/aweclient_status {
                proxy_pass http://proda05/ ; #UPDATE!
        }
        location /internal/status/ {
             root /kb/deployment/www/;
        }
        location /internal/jenkins/ {
                proxy_pass http://140.221.66.245:8080/ ;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-Proto $scheme;
            add_header Access-Control-Allow-Origin "*";
        }
        location /services/docs/invocation {
            rewrite ^ http://kbase.us/iris;
        }
 location /servicelogs/ {
           auth_basic            "Restricted";
          auth_basic_user_file  htpasswd;
            proxy_pass http://vadmin2.chicago.kbase.us:8000;
        }

 location /servicesNS/ {
            proxy_pass https://vadmin2.chicago.kbase.us:8089;
        }

#End manual modification

        # %NARINCLUDE
        location /services {
                root /kb/docs;
                autoindex on;
        }

	location /doc {
		root /usr/share;
		autoindex on;
		allow 127.0.0.1;
		deny all;
	}

	location /images {
		root /usr/share;
		autoindex off;
	}

        # TODO: remove hard-coded communities section
        location /services/communities/ {
                sub_filter api.metagenomics.anl.gov kbase.us/services/communities;
                sub_filter_once off;
                sub_filter_types application/json;
                if ( $request_filename ~ api.html ) {
                   rewrite ^ http://kbase.us/services/communities/api.kbase.html permanent;
                }
                proxy_pass http://api.metagenomics.anl.gov/;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
            #proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-Proto $scheme;
        }


        #%INCLUDE%

}


# HTTPS server
#
server {
	listen 443;
	server_name localhost proda-www kbase.us www.kbase.us;

	ssl on;
	ssl_certificate /etc/nginx/ssl/server.crt;
	ssl_certificate_key /etc/nginx/ssl/server.key.insecure;

	ssl_session_timeout 5m;

	ssl_protocols SSLv3 TLSv1;
	ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP;
	ssl_prefer_server_ciphers on;

        root /usr/share/nginx/www;
        index index.html index.htm;

        # Make site accessible from http://localhost/
        #server_name localhost;

#Begin manual modification
        location / {
                proxy_pass http://198.128.58.54/;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header Host prod1-internal.kbase.us;
                proxy_set_header X-Forwarded-Host $http_host;
                proxy_set_header X-Forwarded-Port $server_port;
                proxy_set_header X-Forwarded-Proto $scheme;
        }
        location /internal/aweclient_status {
                proxy_pass http://proda05/ ;#UPDATE!
        }
        location /internal/status/ {
             root /kb/deployment/www/;
        }
        location /internal/jenkins/ {
                proxy_pass http://140.221.66.245:8080/ ;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-Proto $scheme;
            add_header Access-Control-Allow-Origin "*";
        }
        location /services/docs/invocation {
            rewrite ^ http://kbase.us/iris;
        }
 location /servicelogs/ {
           auth_basic            "Restricted";
          auth_basic_user_file  htpasswd;
            proxy_pass http://vadmin2.chicago.kbase.us:8000;
        }

 location /servicesNS/ {
            proxy_pass https://vadmin2.chicago.kbase.us:8089;
        }

#End manual modification

        # %NARINCLUDE
        location /services {
                root /kb/docs;
                autoindex on;
        }

        location /doc {
                root /usr/share;
                autoindex on;
                allow 127.0.0.1;
                deny all;
        }

        location /images {
                root /usr/share;
                autoindex off;
        }

        # TODO: remove hard-coded communities section
        location /services/communities/ {
                sub_filter api.metagenomics.anl.gov kbase.us/services/communities;
                sub_filter_once off;
                sub_filter_types application/json;
                if ( $request_filename ~ api.html ) {
                   rewrite ^ http://kbase.us/services/communities/api.kbase.html permanent;
                }
                proxy_pass http://api.metagenomics.anl.gov/;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Real-IP $remote_addr;
            #proxy_set_header Host $http_host;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

	#%SSLINCLUDE%
}
